body {
    text-align: center;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.title {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 64px; /* Large font size */
    font-weight: bold; /* Bold font */
    color: #000000;
}

.logo {
    width: 300px;
    height: auto;
}

.rfid-card {
    width: 350px;
    height: auto;
    animation: slideInOut 3s infinite;
}

@keyframes slideInOut {
    0%, 100% { transform: translateX(-100%); }
    50% { transform: translateX(0); }
}
