body {
    text-align: center;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 40px;
}

.title {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 80px; /* Large font size */
    font-weight: bold; /* Bold font */
    color: #000000;
    margin-bottom: 400px;
    margin-top: 40px;
}

.logo {
    width: 300px;
    height: auto;
}

.rfid-card {
    width: 350px;
    height: auto;
    animation: slideInOut 10s infinite;
}

@keyframes slideInOut {
    0%, 100% { transform: translateX(-100%); }
    50% { transform: translateX(0); }
}

/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 25% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 70%; /* Could be more or less, depending on screen size */
    text-align: center;
    border: 5px solid black; /* Thick black border */
    border-radius: 20px;
}

.modal-content h2 {
    font-size: 50px; /* Large font size for the title */
}

.modal-content p {
    font-size: 30px; /* Size for the message */
}

.modal-content button {
    padding: 30px 60px; /* Increase padding */
    font-size: 48px; /* Increase font size */
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block; /* To make the button a block element */
    margin: 20px auto; /* To center the button in the modal */
    text-align: center; /* To center the text inside the button */
    margin-top: 50px;
}

.modal-content button:hover {
    background-color: #0056b3;
}
